@charset "utf-8";

.home-slogan {
    background: url('/images/db-home-slogan.png');
    text-align: center;
    .container .hero .hero-body .container {
        .title, .subtitle {
            color: $dark-red;
            font-weight: bold;
        }
        .title {
            font-size: 5.5em;
            margin-bottom: 0.5em;
        }
        .subtitle {
            font-size: 1.5em;
        }
        .db-button {
            font-size: 1.5em;
            margin-bottom: 1em;
            padding: 30px;
        }
    }
}

.home-slogan-text-background {
    background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    );
}

.home-search-box {
    background-color: $light-red;
    margin-top: -90px;
    padding: 10px;
    .field-label {
        text-align: left;
        padding-bottom: 5px;
    }
}

.label.dark {
    color: $white;
    font-weight: bold;
}

.top-location-image {
    background: linear-gradient(
      $image-overlay,
      $image-overlay
    ), url('/images/top-location-placeholder.png');
    height: 260px;
    margin: 10px;
    padding: 0px;
    //width: 300px;
    .hero {
        //background: rgba(94, 186, 208, 0.50);
        //overflow: hidden;
        //height: 100%;
        text-align: center;
        z-index: 2;
        .hero-body {
            height: 260px;
            //width: 300px;
            .container {
                text-align: center;
                .title, .subtitle {
                    color: $white;
                }
            } // .container
        } // .hero-body
    } // .hero
}

.home-vacation-type {
    background-color: $light-red;
    color: $white;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px;
    padding: 1em;
};

.container {
    h2.title {
        color: $dark-red;
        text-align: center;
    }
}

.db-newsletter {
    background: linear-gradient(
      $image-overlay,
      $image-overlay
    ), url('/images/db-home-newsletter.jpg');
    background-position: 0 0;
    border: 2px solid $red;
    //box-shadow: 8px 8px 20px 0px $black;
    color: $white;
    min-height: 100%;
    padding: 1em;
    .columns .column {
        .title, .field .label {
            color: $white;
        } // .title, .field .label
    } // .columns .column
} // .db-newsletter

label.checkbox {
    color: $white;
    a, a:hover {
        color: $white;
    }
}

.db-social {
    background: linear-gradient(
      $image-overlay,
      $image-overlay
    ), url('/images/db-home-social.jpg');
    background-position: 0 0;
    border: 2px solid $red;
    //box-shadow: 8px 8px 20px 0px $black;
    color: $white;
    min-height: 100%;
    padding: 1em;
    .title, .button {
        color: $white;
    } // .title, .field .label
} // .db-newsletter

.db-custom-travel {
    background: linear-gradient(
      $image-overlay,
      $image-overlay
    ), url('/images/db-home-slogan-large.jpg');
    background-position: 0 0;
    color: $white;
    margin: -120px;
    min-height: 100%;
    padding: 10em;
    .container {
        .title, p {
            color: $white;
            a, a:hover {
                color: $white;
            }
        }
        p {
            font-size: 1.5em;
        }
    }

} // .db-custom-travel

.db-question-level {
    background-color: $red;
    padding: 1.5em;
} // .db-question-level

.db-question-level > h2.title {
    color: $white;
}

.level-item .title {
    color: $white;
} // .level-item .title

.subtitle a {
    color: $white;
    font-weight: bold;
}
