    <div class="container">
        <div class="content">
            <h1 class="title">Bestuur</h1>

            <p>
            Het bestuur van de stichting bestaat uit de volgende personen:

            Jelle Abma – voorzitter voorzitter@rkavvfoundation.nl
            Sandra Gijsbertsen – penningmeester - penningmeester@rkavvfoundation.nl
            Patrícia Barátová – secretaris - secretaris@rkavvfoundation.nl

            </p>
        </div>
    </div>
