<div class="container">
    <div class="content">
        <h1 class="title">Hartelijk dank voor uw donatie!</h1>

        <p>
            Wij zijn enorm blij met uw steun en kunnen hierdoor ons werk voort blijven zetten.<br />
            Hartelijk dank voor uw steun.
        </p>
    </div>
</div>
