    <div class="container">
        <div class="content">
            <h1 class="title">Resultaten</h1>

            <p>
Na het einde van het lopende boekjaar publiceren we hier de jaarverslagen en jaarrekeningen van de foundation.
            </p>
        </div>
    </div>
