<h2>Speler</h2>
Geslacht: [% data.gender %]<br />
Roepnaam: [% data.first_name %]<br />
Initialen: [% data.initials %]<br />
Achternaam: [% data.last_name %]<br />
Geboortedatum: [% data.birthdate %]<br />
Nationaliteit: [% data.nationality %]<br />
Postcode: [% data.postcode %]<br />
Huisnummer: [% data.number %]<br />
Straat: [% data.address %]<br />
Plaats: [% data.place %]<br />
Telefoon: [% data.telephone %]<br />
E-mail: [% data.email %]<br />
Categorie: [% data.category %]<br />
